@media all and (max-width: 1200px) {
	.contArticle {
		order: -1;
	}
}


.contArticle {
	flex: 1 0 150px;
	height: 500px;
	background-color: rgba(203, 248, 253, 0.3);
	box-shadow: 0 0 2px 0 #3399A3;
	transition: 0.5s;
	text-indent: 15px;
}
.contArticle:hover {
	box-shadow: 0 0 10px 0 #3399A3;
	background-color: rgba(203, 248, 253, 0.5);
	
}
.contArticle ul {	
	width: 90%;
	list-style-type: none;
	margin: auto;
}
.contArticle li {
	background-color: rgba(256, 256, 256, 0.3);
	color: #0C727C;	
	font-weight: 500;
	font-family: Arial sans-serif;
	cursor: default;
	margin: 5px 0;
	overflow: hidden;
}
