#desk {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#desk img {
	flex: auto;
	margin: 5px;
	width: 100px;
}
.category {
	flex: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
	margin: 20px;
	opacity: 0.5;
	color: white;
	font-size: 30px;
	font-weight: 550;
	font-family: Arial sans-serif;
}
.category:hover {
	transition: 0.5s;
	background-color: rgba(256, 256, 256, 0.6);
	box-shadow: 0 0 50px 0 #3399A3;
	color: white;
	font-size: 40px;
	text-shadow: 0 0 10px #3399A3;
	opacity: 1;
}
#c_front {
	background-color: red;
}
#c_back {
	background-color: black;
}
#c_f_coding {
	background-color: red;
	opacity: 1;
}
#c_f_design {
	background-color: black;
	opacity: 1;
}
