/*global*/
/*https://colorscheme.ru/#3k12ay-UhBZU0*/
header, figure, figcaption, aside, article, nav, footer {
	display: block;
	margin: 0;
	padding: 0;
}
ul, input {
	margin: 0;
	padding: 0;
}
body {
	background-color: #CBF8FD;
	/*height: 1600px;*/
}
a {
	text-decoration: none;
}
h1, p {
	text-align: center;
	color: #3399A3;
}
.hidden {
	display: none;
}
#arrow {
	position: fixed;
	bottom: 50px;
	right: 50px;
	text-align: center;
	width: 50px;
	height: 50px;
	color: white;
	border-radius: 50%;
	font-size: 40px;
	background-color: #3399A3;
	opacity: 0.5;
	transition: 0.5s;
	cursor: pointer;
	z-index: 10;
}
#arrow:hover {
	opacity: 1;
}
.butt {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 50px;
	transition: 0.2s;
	background-color: rgba(256, 256, 256, 0.3);
	color: #0C727C;
	font-style: italic;
	font-weight: 500;
	font-family: Arial sans-serif;
}
.butt:hover {
	background-color: rgba(256, 256, 256, 0.6);
	box-shadow: 0 0 10px 0 #CBF8FD,
		10px 8px 2px 0 #3399A3;
	color: white;
	font-weight: 600;
	text-shadow: 0 0 10px #3399A3;
}
/*header*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;	
	padding: 2%;
	min-width: 300px;
	height: 200px;
	background: linear-gradient(to top, rgba(203, 248, 254, 0.2), rgba(3, 203, 214, 0.2));
	overflow: hidden;
	box-shadow: 2px 2px 5px 0 #3399A3;
	margin-bottom: 15px;
	/*background-image: url('http://st.depositphotos.com/3018991/3783/i/950/depositphotos_37833545-stock-photo-frozen-drops-of-water-on.jpg');	
	opacity: 0.2;
	background-repeat: repeat-x;*/
}
/*h-logo*/
.h-logo {	
	float: left;	
	width: 10%;
	max-width: 150px;
	max-height: 200px;
	min-width: 150px;
	min-height: 200px;
	text-align: center;
	transition: 0.4s;
	color: rgba(256, 256, 256, 0);
	font-style: italic;
	font-weight: 800;
	font-family: Arial sans-serif;
	font-size: 70%;
}

.h-logo:hover {		
	background-color: rgba(256, 256, 256, 0.2);
	box-shadow: 0 0 10px 0 #CBF8FD,
		10px 8px 2px 0 #3399A3;
	color: white;
	text-shadow: 0 0 10px #3399A3;
}
.h-logo img {
	width: 100%;
	height: 100%;
}
/*h-navigation*/
header nav {
	margin-left: 10%;
}
.h-nav {
	list-style-type: none;
}
.h-nav li {
	float: left;
}

/*content*/
.content {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 60%;
	min-width: 300px;
	min-height: 1200px;
	padding: 2%;
	background-color: rgba(255,255,255,0.8);
	margin: auto;
	box-shadow: 2px 2px 5px 0 #3399A3;
	z-index: 1;
	margin-bottom: 15px;
}
/*aside panel*/
/*small side banner style*/
.smallMyProj {
	flex: 1 0 150px;
	height: 500px;
	background-color: rgba(203, 248, 253, 0.3);
	box-shadow: 0 0 2px 0 #3399A3;
	transition: 0.5s;
	text-indent: 15px;
}
.smallMyProj:hover {
	box-shadow: 0 0 10px 0 #3399A3;
	background-color: rgba(203, 248, 253, 0.5);
}
.smallMyProj ul {	
	width: 90%;
	list-style-type: none;
	margin: auto;
}
.smallMyProj li {
	background-color: rgba(256, 256, 256, 0.3);
	color: #0C727C;	
	font-weight: 500;
	font-family: Arial sans-serif;
	cursor: default;
	margin: 5px 0;
	border: 2px solid #3399A3;
	overflow: hidden;
}
/*big side banner style*/
.bigMyProj {
	position: absolute;
	z-index: 1;
	top: -200px;
	left: -100px;
	right: -100px;
	width: auto;
	height: auto;
	min-height: 700px;
	background-color: rgba(203, 248, 253, 1);
	box-shadow: 4px 3px 200px 0 #3399A3;
	transition: 1s;
	text-indent: 15px;
}
.bigMyProj ul {	
	width: 90%;
	list-style-type: none;
	margin: auto;
}
.bigMyProj li {
	background-color: rgba(256, 256, 256, 0.3);
	color: #0C727C;	
	font-weight: 500;
	font-family: Arial sans-serif;
	cursor: default;
	margin: 5px 0;
	border: 2px solid #3399A3;
	overflow: hidden;
}
#maters {
	width: 30%;
	margin: 20% auto 0 auto;
	font-size: 30px;
}
.c-learnlist {
	width: 110%;
	font-size: 80%;
	font-style: italic;
	background-position: 0 0;
	transition-direction: easy-in-out;
	transition-duration: 5s;
}
.content aside li:hover {
	box-shadow: 0 0 5px 0 #3399A3;
	transition: 0.2s;
}
.bar {
	width: 110%;
	background-position: 0 0;
	transition-direction: easy-in-out;
	transition-duration: 5s;

}
/*timer*/
#timer {
	margin: auto;
	width: 100%;
	text-align: center;
	color: #0C727C;
	font-family: Arial sans-serif;
	cursor: default;
	text-indent: 0;
}
#time {
	width: 80%;
	margin: auto;
	font-weight: 600;
	font-size: 140%;
}
#fieldInd {
	width: 100%;
	height: 16px;
	border: 2px solid rgba(203, 248, 253, 1);	
	font-size: 16px;
	text-align: center;
	font-family: Arial sans-serif;
	cursor: default;
	border: 2px solid #3399A3;
	background: linear-gradient(to right black, transparent 50%);
	background-position: -100px;
	transition-duration: 5s;
}
#lostTime {
	float: left;
}
#leftTime {
	float: right;
}
#range {
	width: 100%;
}
/*main content*/
.content article {	
	flex: 2 2 600px;
	color: #0C727C;	
	text-indent: 15px;
	font-weight: 200;
	font-family: Arial sans-serif;
	font-size: 150%;
}


/*footer*/
footer {
	position: relative;
	top: 15px;
	width: 100%;
	height: 200px;
	padding: 2%;
	min-width: 300px;
	background-color: #3399A3;
}	